*{
     color:black;
     font-family:"Comic Sans MS";
}
header, footer{
    text-align:center;
}
.intro1{
    text-align:center
}
.intro2{
     padding-left:20%;
}
a{
    color: #FF257E;
    text-decoration: none;
}
a:hover{
    color:blue;
}
